<p>Reactive Forms</p>
<form [formGroup]="form">
  <input formControlName="first" placeholder="First name">
  <input formControlName="last" placeholder="Last name">
  <div formGroupName="account">
    <input formControlName="username" placeholder="User name">
    <input formControlName="password" placeholder="Password">
    <input formControlName="confirm" placeholder="Confirm password">
  </div>
  <label>Would you like to receive a news letter?</label>
  <app-switch-control formControlName="newsletter"></app-switch-control>
  <button>SUBMIT</button>
</form>
<p>{{form.value | json}}</p>
<p>Form status {{form.status}}</p>
<p>Account status {{form.get('account').errors | json}}</p>